#header {
    background-image: url(images/15.gif);
    color:rgb(7, 0, 0);
    text-align:center;
    padding:10px;
    font-weight: 200; font-family: STHeiti; font-style: oblique;
}
#nav {
    background-image: url(images/15.gif);
    line-height:30px;
    height:2500px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    float:left;
    width:700px;
    padding:10px;	 	 
}
#footer {
    background-image: url(images/15.gif);
    color:rgb(7, 0, 0);
    clear:both;
    text-align:right;
    padding:5px;	 	 
}